@font-face {
    font-family: "Bely Display";
    src: url("/fonts/bely-display/Bely-Display-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html {
    font-family: "Poppins", sans-serif;
    color: #4e4e4e;
}

@media (min-width: 768px) {
    body.modal-open {
        overflow: hidden;
    }
}

a {
    color: #4e4e4e;
}

h1 {
    font-size: 55px;
    font-family: "Bely Display";
}

h2 {
    font-family: "Bely Display";
    font-size: 30px;
    color: var(--main-brand-color);
    margin: var(--margin-medium) 0;
}

h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}

:root {
    /*------ Z-INDEX*/
    --z-indez-infotip: 10;
    --zindez-fixed: 100;

    /*------ COLORS*/
    --main-brand-color: #397880;
    --light-color: #ffffff;

    /*------ MARGINS*/
    --margin-small: 1rem;
    --margin-medium: 1.5rem;
    --margin-large: 5rem;

    /*------ STYLES*/
    --border-radius: 0px 20px 20px 20px;
    --border-radius-smaller: 0px 10px 10px 10px;
    --shadow: 0 0 20pt 0.5pt #d3d3d3;
    --icon-size: 30px;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    h2 {
        font-size: 20px;
    }
}
